.task-item {
    padding-bottom: 0;
}

.item .sc-ion-label-md-h {
    overflow: visible;
    white-space: pre-wrap;
}

ion-note {
    padding: 10px;
    line-height: 21px;
    white-space: pre-wrap;
}

ion-badge {
    vertical-align: middle;
    white-space: pre-line;
    text-align: left;
}

ion-footer div {
    margin: 10px;
}