<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Manage Tasks
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNewItemPage()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
  <div *ngIf="items" class="item-container">
    <ion-list>
      <ion-item-group *ngFor="let item of items; let first = first; let last = last" [class.first-item]="first"
        [class.last-item]="last">
        <ion-item>
          <ion-checkbox (click)="markItemStatus(item)" [checked]="isChecked(item)" class="ion-margin-end ion-align-items-start"></ion-checkbox>
          <ion-label>
            <h2>{{ item.title }}</h2>
            <p>
              {{ item.description }}
            </p>
            <p>
              <ion-badge color="primary">
                Server version: {{ item.version }}
              </ion-badge>
            </p>
          </ion-label>
          <ion-button item-start class="create-button" color="primary" fill="outline" (click)="goToItem(item)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button item-end class="trash-button" color="primary" fill="outline" (click)="deleteItem(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div>
    <ion-label>
      <ion-button size="small" color="primary" fill="outline" routerLink="/offline-queue" class="offline-queue-button">
        Offline changes
      </ion-button>
      <ion-badge color="primary" class="offline-queue-badge">{{
          queue
        }}</ion-badge>
    </ion-label>
    <ion-badge class="network-badge" color="secondary" *ngIf="online">Online</ion-badge>
    <ion-badge class="network-badge" color="primary" *ngIf="!online">Offline</ion-badge>
  </div>
</ion-footer>