.task-item {
    padding-bottom: 0;
}

.list-md {
    padding: 0;
}

.item .sc-ion-label-md-h {
    overflow: visible;
    white-space: pre-wrap;
}

ion-note {
    padding: 10px;
    line-height: 21px;
    white-space: pre-wrap;
}

ion-badge {
    vertical-align: middle;
    white-space: pre-line;
    text-align: left;
}

.queue-empty {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    p {
        line-height: 150%
    }
}