<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Offline queue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list *ngIf="stagedItems">
    <ion-item-group
      *ngFor="let stagedItem of stagedItems; let last = last"
      [class.last-item]="last"
    >
      <ion-item>
        <ion-label>
          <h2>{{ stagedItem.variables.title || stagedItem.variables.id }}</h2>
          <div *ngIf="stagedItem.variables.description">
            <ion-note item-start>
              {{ stagedItem.variables.description }}
            </ion-note>
            <br />
          </div>
          <ion-note>Task type:
            <ion-badge color="primary">
              {{ stagedItem.operationName }}
            </ion-badge>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
