<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Auth disabled -->
  <ion-card *ngIf="isDisabled()">
    <ion-card-header>
      <ion-card-title>Authentication not configured</ion-card-title>
      <ion-card-subtitle>IDM service required</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Profile page cannot be displayed.
      Please enable Auth SDK by providing configuration pointing to your IDM service
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isDisabled() && !authenticated()" style="background: #f8f8f8">
    <ion-card-header>
      <ion-card-title>Login required</ion-card-title>
      <ion-card-subtitle>Login is required in order to see profile page</ion-card-subtitle>
    </ion-card-header>
    <div style="margin:0 auto; width: 80%">
        <ion-img src="/assets/keycloak.png"></ion-img>
    </div>
    <ion-card-content>
      Please login to see Profile Details
    </ion-card-content>
  </ion-card>

  <!-- Profile info available -->
  <ion-list *ngIf="profile">
    <ion-card>
      <ion-item-divider color="light">
        <h2>Profile</h2>
      </ion-item-divider>
      <ion-item>
        <div class="identity-header">Full Name:</div>
        <div class="identity-text">{{profile.firstName}} {{profile.lastName}}</div>
      </ion-item>
      <ion-item>
        <div class="identity-header">Email: </div>
        <div class="identity-text"> {{profile.email}} </div>
      </ion-item>
      <ion-item>
        <div class="identity-header"> Username: </div>
        <div class="identity-text"> {{profile.username}} </div>
      </ion-item>
      <ion-item>
        <ion-label> OTP 2FA Enabled</ion-label>
        <ion-icon item-end color=green name="done" *ngIf=profile.totp></ion-icon>
        <ion-icon item-end color=red name="close" *ngIf=!profile.totp></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Email Verified</ion-label>
        <ion-icon item-end color=green name="done" *ngIf=profile.emailVerified></ion-icon>
        <ion-icon item-end color=red name="close" *ngIf=!profile.emailVerified></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item-group>
        <ion-item-divider color="light">
          <h2>Assigned Roles</h2>
        </ion-item-divider>
        <ion-item *ngFor="let role of profile.realmRoles">
          {{role}}
        </ion-item>
      </ion-item-group>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!isDisabled()">
  <ion-toolbar color=primary (click)="authService.loginOrLogout()">
    <ion-title *ngIf="!authenticated()" style="text-align: center">Login</ion-title>
    <ion-title *ngIf="authenticated()" style="text-align: center">Logout</ion-title>
  </ion-toolbar>
</ion-footer>