<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      File Management
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Upload Document</ion-card-title>
      <ion-card-subtitle>Select new document for upload</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input type="file" [(ngModel)]="files" (change)="uploadFile($event)"></ion-input>
    </ion-card-content>
  </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Uploaded Documents</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div *ngIf="items">
          <ion-list>
            <ion-item-group *ngFor="let item of items; let last = last"
            [class.last-item]="last">
              <ion-item href="{{ item.url }}">
                <ion-label>
                  <h2>{{ item.filename }}</h2>
                  <h4>{{ item.url }}</h4>
                </ion-label>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>