<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Device Trust
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid style="height: 25%">
    <ion-row justify-content-center align-items-center>
      <h1>
        <strong>{{trustScore}}%</strong>
      </h1>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <div align="center" color=light>Device Trust Score</div>
    </ion-row>
    <ion-row justify-content-center align-items-center style="padding-top: 1em">
      <div align="center" color=light>({{totalPassed}} out of {{totalTests}} checks passing)</div>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="isAvailable()">
    <ion-item *ngFor="let detection of detections">
      <ion-icon [color]="detection.detected ? 'success' : 'danger'" [name]="detection.detected ? 'checkmark' : 'warning'" ></ion-icon>
      <ion-label [color]="detection.detected ? 'success' : 'danger'"   color="danger">{{detection.label}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="!isAvailable()">
    <ion-icon color="warning" name="warning"></ion-icon>
    Device checks are available only on iOS or Android devices.
  </ion-item>
</ion-content>
