<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img style="margin:0 auto;" src="https://trello-backgrounds.s3.amazonaws.com/57ecca6d0a0a9b4ea692319c/450x141/8f3dec9c9c0da52ada8a4692def43f70/aerogear_logo_450px.png"></ion-img>
      <ion-card-header>
        <!-- <ion-card-subtitle>Get Started with AeroGear Mobile</ion-card-subtitle> -->
        <ion-card-title>Welcome to AeroGear Mobile Services</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sample application that demoes various AeroGear Mobile Services
        </p>
        <ion-badge >No services provisioned</ion-badge>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label >Actions</ion-label>
      </ion-list-header>
      <ion-item href="https://docs.aerogear.org">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>View Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Manage Tasks</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>User profile</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="settings"></ion-icon>
        <ion-label>Security Settings</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
