// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.banner {
    margin-right: 2vh;
}

ion-item {
    --inner-padding-end: 0;
    --padding-end: 16px;
}

.menu {
    ion-item {
        --padding-end: 0;
    }
}

.first-item {
    padding-top: 8px;
}

.last-item {
    ion-item {
        --border-color: transparent;
    }
}